:root {
    --blue: rgb(0, 113, 133);
    --bluewhite: rgb(84, 179, 196);
    --green: rgb(0, 118, 0);
    --yellow: rgb(255, 216, 20);
    --yellowhite: rgb(253, 227, 96);
    --orange: rgb(255, 164, 28);
    --orangewhite: rgb(247, 173, 62);
   }
   
   .back {
     color: var(--blue);
     font-size: 23px;
     cursor: pointer;
   }
   
   .back:hover {
    color: var(--bluewhite);
   }

   #stock {
     font-size: 22px;
     font-weight: bold;
     color: var(--green);
     margin-top: 40px;
   }
   
   h1 {
     margin-top: 40px;
   }
   
   #delivery {
     font-size: 20px;
   }
   
   #cart {
     height: 40px;
     width: 150px;
     border-radius: 20px;
     border: none;
     background-color: var(--yellow);
     font-size: 16px;
     font-weight: 550;
     cursor: pointer;
   }
   
   #buy:hover {
    background-color: var(--orangewhite) ;
   }
   #cart:hover {
    background-color: var(--yellowhite) ;
   }

   #buy {
     margin-left: 8px;
     height: 40px;
     width: 150px;
     border-radius: 20px;
     border: none;
     background-color: var(--orange);
     font-size: 16px;
     font-weight: 550;
     cursor: pointer;
   }